body {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: 'Comic Sans MS';
  margin: 0;
  padding: 0;
  width: auto;
  height: 100%;
  background-image: url("../images/code-wallpaper-2.jpg");
  background-position: center;
}

a:-webkit-any-link {
  text-decoration: none;
}

.navBar {
  display: flex;
  height: 64px;
  width: auto;
  z-index: 10;
  background-color: silver;
  position: fixed;
  top: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: solid 2px rgba(255, 144, 0, 1);
  border-bottom: solid 2px rgba(255, 144, 0, 1);
  border-right: solid rgba(255, 144, 0, 0.7);
  right: 0px;
  left: 0px;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-items: center;
  justify-content: space-between;
}

a {
  color:#5b5b5b;
}

a:hover{
  color: white;
  text-shadow: 2px 2px 2px rgba(255, 144, 0, 1);
}

.logo {
  display: flex;
  align-self: center;
}

.logo h1 {
  align-self: center;
  font-size: 2em;
  font-style: italic;
  text-shadow: 2px 2px 2px white;
  margin-right: 6px;
  font-weight: bold;
  margin: 0px 3px 0px 3px;
  padding-left: 16px;
}


.links {
  display: flex;
  width: auto;
  justify-content: flex-end;
  align-content: center;
  font-weight: bold;
}

.links ul {
  display: flex;
  flex-direction: row;
}

.links ul li {
  align-self: center;
  font-size: 1.5em;
  padding: 0 16px 0 0;
  text-shadow: 2px 2px 2px white;
  list-style-type: none;
}

.sectionTiles {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: center;
  margin-bottom: 32px;
  padding-top: 64px;
}

.tile {
  display: flex;
  flex-direction: column;
  background-color: silver;
  margin: 32px;
  width: 320px;
  height: 100%;
  border: solid 2px white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgb(255, 248, 220);
}

.tile img {
  padding: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: block;
  width: 100%;
  height: 210px;
}

.tileText {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 288px;
  text-shadow: 2px 2px 2px rgb(255, 248, 220);
}

.tileText h2 {
  align-items: center;
  display: flex;
  width: auto;
  height: 100%;
  justify-content: center;
}

.tileText a {
  display: flex;
  justify-content: center;
  word-wrap: normal;
  align-self: center;
}

.contactTileContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin-top: 96px;
  margin-bottom: 32px;
  justify-content: center;
}

.contactTile {
  display: flex;
  flex-direction: row;
  padding: 16px;
  height: auto;
  width: auto;
  text-shadow: 2px 2px 2px rgb(255, 248, 220);
  justify-content: flex-start;
  border: solid 2px white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgb(255, 248, 220);
  background-color: silver;
  word-break: break-all;
}



.contactTile img {
  display: flex;
  padding-right: 10px;
  border-radius: 10px;
  height: 300px;
  width: auto;
}

.contactTileText {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 100%;
}

.contactTileText ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: auto;
}

.projectsTile {
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 16px;
  text-shadow: 2px 2px 2px rgb(255, 248, 220);
  justify-content: space-around;
  border: solid 2px white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgb(255, 248, 220);
  background-color: silver;
  word-break: break-all;
  margin-top: 96px;
  margin-bottom: 32px;
}

.projectsTile li {
  font-size: 1.5em;
}

.aboutPictureFrame {
  display: flex;
  justify-content: flex-end;
  margin-right: 32px;
}

.aboutPictureFrame img {
  display: flex;
  margin-top: 96px;
  max-height: 400px;
  border-radius: 10px;
  width: auto;
}
